<section id="careers">
    <div class="container">
    </div>
    <div id="positions">
      <h2>Available Positions</h2>
    </div>
    <div class="careerslist">
      <nav>
        <ul>
          <li *ngFor="let position of positionList">
            <h2 class="accordion">{{ position.title }}</h2>
            <div class="careerSubjects">
              <h3>Post Date</h3>
                <ul>
                  <li>
                    {{ position.postDate | date:'shortDate' }}
                  </li>
                </ul>
                <h3>Work Schedule</h3>
                <ul>
                  <li>
                    {{ position.schedule }}
                  </li>
                </ul>
              <h3>Experience and Qualifications</h3>
                <ul>
                  <li *ngFor="let exp of position.experiences">
                    {{ exp.statement }}
                  </li>
                  <li *ngFor="let qual of position.qualifications">
                    {{ qual.statement }}
                  </li>
                </ul>
              <h3>Education</h3>
                <ul>
                  <li *ngFor="let edu of position.education">
                    {{ edu.statement }}
                  </li>
                </ul>
              <h3>Position Responsibilities</h3>
                <ul>
                  <li *ngFor="let res of position.responsibilities">
                    {{ res.statement }}
                  </li>
                </ul>
            </div>
          </li>
        </ul>
      </nav>
    </div>
  </section>
  <!--
  class="panel"
  -->