<section id="newsletter">
    <div class="container">
      <h2>Subcribe to our Newsletter</h2>
      <form>
        <input type="email" name="emailaddress" required placeholder="Enter Email..." [(ngModel)]="emailAddresss"/>
        <button type="submit" class="button_1" (click)="sendSubscriber(emailAddresss)">Subcribe</button>
      </form> 
    </div>
  </section>

  <section id="about">
    <div class="container">
      <div class="details">
        <h2>About Biotech</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue placerat libero, id dignissim orci sollicitudin a. Phasellus aliquet vestibulum velit, eget feugiat nisl suscipit vel. Proin imperdiet blandit leo in pharetra. Nullam fringilla ipsum risus, non lacinia lectus imperdiet at. Nullam ipsum massa, elementum ac urna nec, posuere consequat tellus. Duis pharetra dui vitae fringilla interdum. Nulla libero lectus, consectetur ac nibh eget, iaculis viverra turpis. Maecenas sed lacinia ex. Fusce ut dolor in dolor gravida iaculis eu venenatis purus. Quisque nibh orci, egestas et imperdiet vitae, posuere vitae nisl. Sed rhoncus tempor nisi nec pharetra.
          Aliquam id nisl id dui pharetra aliquam.
        </p>
          
        <p>
          In condimentum ac ante eget lacinia. Integer est quam, vehicula aliquam iaculis vel, tincidunt a mi. Nam enim lorem, tincidunt vitae egestas quis, vestibulum in erat. Nullam non sem id leo blandit rutrum. Morbi quis turpis faucibus, consequat felis ut, cursus eros. Aliquam erat volutpat.
          Aliquam lectus nulla, vehicula venenatis convallis a, congue porta erat. Cras sagittis urna ac semper scelerisque. In tellus ante, accumsan vel ligula sed, rhoncus rutrum mauris. Etiam id vulputate risus, sit amet efficitur nunc. Etiam eu eros pulvinar, tempor purus et, rhoncus dolor. Vivamus suscipit enim sit amet lectus hendrerit, egestas sollicitudin nulla sodales. Integer porta eros arcu, vel mattis nisl dignissim sed. Donec quis quam quis mi maximus posuere.
        </p>
      
        <h2>Company History</h2>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis congue placerat libero, id dignissim orci sollicitudin a. Phasellus aliquet vestibulum velit, eget feugiat nisl suscipit vel. Proin imperdiet blandit leo in pharetra. Nullam fringilla ipsum risus, non lacinia lectus imperdiet at. Nullam ipsum massa, elementum ac urna nec, posuere consequat tellus. Duis pharetra dui vitae fringilla interdum. Nulla libero lectus, consectetur ac nibh eget, iaculis viverra turpis. 
        </p>  
        
        <p>
          Maecenas sed lacinia ex. Fusce ut dolor in dolor gravida iaculis eu venenatis purus. Quisque nibh orci, egestas et imperdiet vitae, posuere vitae nisl. Sed rhoncus tempor nisi nec pharetra.
          Aliquam id nisl id dui pharetra aliquam.
        </p>  

        <p>
          In condimentum ac ante eget lacinia. Integer est quam, vehicula aliquam iaculis vel, tincidunt a mi. Nam enim lorem, tincidunt vitae egestas quis, vestibulum in erat. Nullam non sem id leo blandit rutrum. Morbi quis turpis faucibus, consequat felis ut, cursus eros. Aliquam erat volutpat.
          Aliquam lectus nulla, vehicula venenatis convallis a, congue porta erat. Cras sagittis urna ac semper scelerisque. In tellus ante, accumsan vel ligula sed, rhoncus rutrum mauris. Etiam id vulputate risus, sit amet efficitur nunc. Etiam eu eros pulvinar, tempor purus et, rhoncus dolor. Vivamus suscipit enim sit amet lectus hendrerit, egestas sollicitudin nulla sodales. Integer porta eros arcu, vel mattis nisl dignissim sed. Donec quis quam quis mi maximus posuere.
        </p>
      </div>
      <div class="questions">
        <h2>Questions</h2>
        <form>
          <input type="text" placeholder="name..." [(ngModel)]="name" name="name" required>
          <input type="email" placeholder="email..." [(ngModel)]="emailAddress" name="emailAddress" required>
          <textarea rows="4" cols="50" placeholder="question..." [(ngModel)]="question" name="question" required></textarea>
          <button type="submit" class="button_1" (click)="submitQuestion(name, emailAddress, question)">Submit</button>
        </form>
      </div>
    </div>
  </section>