<header>
  <div class="container">
    <div id="branding">
      <a href="index.html"><h1><span class="highlight">Bio</span>Tech</h1></a>
    </div>
    <nav>
      <ul>
        <li><a routerLink="/index" routerLinkActive="active">Home</a></li>
        <li><a routerLink="/about" routerLinkActive="active">About</a></li>
        <li><a routerLink="/services" routerLinkActive="active">Services</a></li>
        <li><a routerLink="/news" routerLinkActive="active">News</a></li>
        <li><a routerLink="/careers" routerLinkActive="active">Careers</a></li>
        <li><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
        <button>Browse Services</button>
      </ul>
    </nav>
  </div>
</header>