<section id="contactinfo">
    <div class="container">
      <h1>Contact Information</h1>
      <h2>BioTech</h2>
      <p>
        12345 Tech Ave W, Suite 300 <br>
        Seattle, WA 98119 <br>
        Phone: 206.123.4567 <br>
        Fax: 206.987.6543 <br>
        Email: <a href="contact@biotech.com">contact@biotech.com</a>
      </p>
      
      <h2>Business Development</h2>
      <p>
        Phone: 206.123.4567 <br>
        Toll-Free: 206.987.6543 <br>
        Email: <a href="contact@biotech.com">contact@biotech.com</a>
      </p>

      <h2>Careers</h2>
      <p>
        12345 Tech Ave W, Suite 300 <br>
        Seattle, WA 98119 <br>
        Phone: 206.123.4567 ext 425<br>
        Email: <a href="careers@biotech.com">careers@biotech.com</a>
      </p>
    </div>
  </section>