<section id="news">
  <div class="container">
    <nav>
      <ul>
        <li>
          <div class="newsitem">
            <h2 class="newstitle">Dna Sequencer Version 2.0</h2>
            <h2 class="date">07/07/2018</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum nunc sem, varius fringilla nulla imperdiet et. Ut varius dolor risus, id elementum magna finibus sed. Etiam rutrum luctus eleifend. Aenean lobortis efficitur nisl, vitae luctus enim accumsan eu. Vivamus non urna gravida, pellentesque elit ac, ornare diam. Pellentesque fermentum et risus sit amet aliquam. Pellentesque non porttitor felis. Nam sed ligula euismod, tincidunt felis nec, dapibus est. Proin placerat laoreet consequat. Integer et purus a justo placerat tincidunt a non mi. Morbi vehicula lacus placerat, dignissim ligula eget, condimentum felis.
            </p>
            <p>
              Praesent eu venenatis quam. In euismod mauris eget interdum faucibus. Donec consequat in nisl in scelerisque. Nunc scelerisque imperdiet massa vel facilisis. Quisque tincidunt interdum consectetur. Cras auctor felis in nulla luctus ullamcorper. Integer mi elit, aliquet id iaculis quis, efficitur at nibh. Cras egestas auctor massa, vel viverra est dignissim ac. Duis ornare placerat erat, vel pulvinar est bibendum ut. Sed eget erat et purus consequat mollis at vitae neque. Proin id feugiat nibh. Vestibulum in interdum urna, non suscipit est. Quisque lacus libero, faucibus eu tempus a, aliquet ut nisl. Vivamus luctus molestie mattis. Nunc vitae leo in quam efficitur placerat.
            </p>
          </div>
        </li>
        <li>
          <div class="newsitem">
            <h2 class="newstitle">BioTech recieves funding</h2>
            <h2 class="date">12/14/2017</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum nunc sem, varius fringilla nulla imperdiet et. Ut varius dolor risus, id elementum magna finibus sed. Etiam rutrum luctus eleifend. Aenean lobortis efficitur nisl, vitae luctus enim accumsan eu. Vivamus non urna gravida, pellentesque elit ac, ornare diam. Pellentesque fermentum et risus sit amet aliquam. Pellentesque non porttitor felis. Nam sed ligula euismod, tincidunt felis nec, dapibus est. Proin placerat laoreet consequat. Integer et purus a justo placerat tincidunt a non mi. Morbi vehicula lacus placerat, dignissim ligula eget, condimentum felis.
            </p>
            <p>
              Praesent eu venenatis quam. In euismod mauris eget interdum faucibus. Donec consequat in nisl in scelerisque. Nunc scelerisque imperdiet massa vel facilisis. Quisque tincidunt interdum consectetur. Cras auctor felis in nulla luctus ullamcorper. Integer mi elit, aliquet id iaculis quis, efficitur at nibh. Cras egestas auctor massa, vel viverra est dignissim ac. Duis ornare placerat erat, vel pulvinar est bibendum ut. Sed eget erat et purus consequat mollis at vitae neque. Proin id feugiat nibh. Vestibulum in interdum urna, non suscipit est. Quisque lacus libero, faucibus eu tempus a, aliquet ut nisl. Vivamus luctus molestie mattis. Nunc vitae leo in quam efficitur placerat.
            </p>
          </div>
        </li>
        <li>
            <div class="newsitem">
              <h2 class="newstitle">BioTech Api 2.6 update</h2>
              <h2 class="date">09/26/2017</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vestibulum nunc sem, varius fringilla nulla imperdiet et. Ut varius dolor risus, id elementum magna finibus sed. Etiam rutrum luctus eleifend. Aenean lobortis efficitur nisl, vitae luctus enim accumsan eu. Vivamus non urna gravida, pellentesque elit ac, ornare diam. Pellentesque fermentum et risus sit amet aliquam. Pellentesque non porttitor felis. Nam sed ligula euismod, tincidunt felis nec, dapibus est. Proin placerat laoreet consequat. Integer et purus a justo placerat tincidunt a non mi. Morbi vehicula lacus placerat, dignissim ligula eget, condimentum felis.
              </p>
              <p>
                  Praesent eu venenatis quam. In euismod mauris eget interdum faucibus. Donec consequat in nisl in scelerisque. Nunc scelerisque imperdiet massa vel facilisis. Quisque tincidunt interdum consectetur. Cras auctor felis in nulla luctus ullamcorper. Integer mi elit, aliquet id iaculis quis, efficitur at nibh. Cras egestas auctor massa, vel viverra est dignissim ac. Duis ornare placerat erat, vel pulvinar est bibendum ut. Sed eget erat et purus consequat mollis at vitae neque. Proin id feugiat nibh. Vestibulum in interdum urna, non suscipit est. Quisque lacus libero, faucibus eu tempus a, aliquet ut nisl. Vivamus luctus molestie mattis. Nunc vitae leo in quam efficitur placerat.
              </p>
            </div>
        </li>
      </ul>
    </nav>
  </div>
</section>