<section id="showcase">
    <div class="container">
      <div id="showcasebox">
          <h1>DNA Sequencer</h1>
            <p>Our Dna sequencer provides clients with a quality of service we believe no other laboratory can match. Our client relationships are built on trust and discretion.</p>
            <button>Learn More &rarr;</button>
      </div>
    </div>
</section>

<section id="newsletter">
  <div class="container">
    <h2>Subcribe to our Newsletter</h2>
    <form>
      <input type="email" name="emailaddress" required placeholder="Enter Email..." [(ngModel)]="emailAddresss"/>
      <button type="submit" class="button_1" (click)="sendSubscriber(emailAddresss)">Subcribe</button>
    </form> 
  </div>
</section>
  
<section id="services">
  <div class="container">
    <div class="iconbox">
      <img src="../../assets/Images/microscope.png">
      <h3>Research</h3>
      <p>We engage in state of the art research with the brightness minds in the buisness.</p>
    </div>
    <div class="iconbox">
      <img src="../../assets/Images/beaker.png">
      <h3>Analysis</h3>
      <p>All of our reports are peer-reviewed by the scientific community.</p>
    </div>
    <div class="iconbox">
      <img src="../../assets/Images/recycle.png">
      <h3>Standards</h3>
      <p>We follow industry regulatory standards set forth by HIPPA and the FDA.</p>
    </div>
    <div class="iconbox">
      <img src="../../assets/Images/dna_strand.png">
      <h3>DNA Sequence</h3>
      <p>Our DNA sequencer provides top of the line analysis.</p>
    </div>
  </div>
</section>